<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Philip Thongkhamchanh Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <base href="/" />

    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script src="https://kit.fontawesome.com/86be61cc79.js" defer crossorigin="anonymous"></script>
    <script>
      WebFont.load({
        google: {
          families: ["Noto Sans TC:100,300,400,500,700,900", "Roboto"],
        },
      });
    </script>
  </head>

  <body>
    <my-app></my-app>
  </body>
</html>
