<div>
  <div class="flex-1 font-black justify-between m-auto">
    <div class="m-2 px-4 py-2 text-center">
      <a class="cursor-pointer" load="/blog/${traverseData.previousId}" if.bind="traverseData.previousId">
        <span class="bg-blue-50 px-2 py-1 text-xs text-gray-500 rounded"><i class="far fa-arrow-to-left"></i> NEWER</span>
        <span>${traverseData.previousTitle}</span>
      </a>
    </div>
    <div class="m-2 px-4 py-2 text-center">
      <a class="cursor-pointer" load="/blog/${traverseData.nextId}" if.bind="traverseData.nextId">
        <span>${traverseData.nextTitle}</span>
        <span class="bg-red-50 px-1 py-1 text-xs text-gray-500 rounded">OLDER <i class="far fa-arrow-to-right"></i></span>
      </a>
    </div>
  </div>
</div>
